.swiper {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 400px;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.competitions-title {
  font-size: 3.5em;
  /* letter-spacing: 1px; */
  font-family: cursive;
  margin-bottom: 20px;
  color: white;
  margin-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 60px #fff
}