@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #f76c6c;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.comp-loader{
  margin-top: 45vh;
}

.loading {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading p {
  /* color: #f76c6c; */
  font-size: 28px;
  padding-top: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.swiper {
  width: 90%;
  padding: 10vh 0 !important;
  margin-top: 15vh;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  /* transform: scale(0.85) !important; */
  transition: transform 0.3s;
}

.swiper-slide-active {
  transform: scale(1.25) !important;
}

.swiper-wrapper {
  margin-bottom: 60px !important;
}

.swiper-button-prev,
.swiper-button-next {
  border: 3px solid rgba(255, 255, 255, 0.3);
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  padding-right: 4px;
  position: absolute !important;
  left: 0px !important;
}

.swiper-button-next {
  padding-left: 4px;
  position: absolute !important;
  right: 0px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  font-weight: bold;
  font-size: 26px !important;
}

.swiper-pagination-bullet {
  height: 18px !important;
  width: 18px !important;
  background-color: transparent !important;
  border: 4px solid rgba(255, 255, 255, 1) !important;
}

.swiper-pagination-bullet-active {
  height: 18px !important;
  width: 18px !important;
  background-color: transparent !important;
  border: 4px solid white !important;
}


.competitions-title {
  font-size: 3.5em;
  /* letter-spacing: 1px; */
  font-family: cursive;
  margin-bottom: 20px;
  color: white;
  margin-top: 100px;
  text-align: center;
  margin-top: 100px;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  text-shadow: 0px 0px 60px white;
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card-comp {
  display: grid;
  place-items: center;
  width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0 0 15px #f76c6c;

}

.card-comp>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  width: 100%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%);
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(55%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container> :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card-comp:hover,
  .card-comp:focus-within {
    transform: scale(1.03);
    transition: transform 500ms ease-in;
  }

  .card-comp:hover .card__content,
  .card-comp:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card-comp:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card-comp:hover .card__background,
  .card-comp:focus-within .card__background {
    transform: scale(1.3);
  }

  .card-comp:hover .card__content--container> :not(.card__title),
  .card-comp:hover .card__button,
  .card-comp:focus-within .card__content--container> :not(.card__title),
  .card-comp:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card-comp:hover .card__title::after,
  .card-comp:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}