.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 80px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

/* .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
  }
  .header:hover::before {
    left: 100%;
  } */
.logo {
    color: #fff;
    font-size: 40px;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.logo:hover{
    text-shadow: 0.5px 0.5px 10px rgba(255, 217, 0, 0.776);
    transform: scale(1.02);
}

.navbar {
    display: flex;
    gap: 40px;
}

.navbar a {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    /* margin-left: 35px; */
    transition: 0.3s;
}

.navbar a:hover {
    text-shadow: 1px 1px 10px rgba(255, 217, 0, 0.776);
    transform: scale(1.15);
}

#menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}


.count {
    height: 91.26vh;
    padding-top: 55vh;
    z-index: 100;
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.countdown .time {
    background: rgba(255, 255, 255, 0.15);
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: white;
}

.countdown .time span {
    font-size: 36px;
    display: block;
}

.countdown .time p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.countOver {
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    margin-top: 50px;
    margin-bottom: 5px;
}

.btn {
    /* width: 180px; */
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
    color: white;
    background-color: #FF5722;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #FF3D00;
}

