.speakers-title {
    font-size: 5em;
    font-family: poppins , sans-serif ;
    margin-bottom: 20px;
    color: white;
    margin-top: 100px;
    text-align:center;
    text-shadow: 0px 0px 60px white;
    text-transform: uppercase;
}

.speakers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center; /* Center the cards horizontally */
    align-items: center;     /* Center the cards vertically (optional) */
    max-width: 1000px;       /* Adjust the max width as needed */
    margin: 100px auto;     
}