.speakers-title {
    font-size: 5em;
    font-family: poppins , sans-serif ;
    margin-bottom: 20px;
    color: white;
    margin-top: 100px;
    text-align:center;
    text-shadow: 0px 0px 60px white;
    text-transform: uppercase;
}

.speakers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;  
    align-items: center;      
    max-width: 1000px;        
    margin: 100px auto;     
}
/* .speaker-container {
    height: 100vh;
    width: 100vw;
    max-height: 600px;
    max-width: 1200px;
    min-height: 600px;
    min-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  } */

.speakers-loader{
    margin-top: 45vh;
}