.team-card{
    background-color:#ffffff;
    /* padding: 5rem 5rem; */
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 250px;
    border-radius: 15px ;
    box-shadow: 0 0 20px #ffffff8c;
}

.contacts{
    width: 250px;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 20px 12px;
    z-index: 5;
}

.contacts-list{
    list-style-type: none;
}
.contacts-list a{
    cursor: pointer;
}

.img-box{
    position: absolute;
    transition: transform 0.4s ease-in-out;
    width: 250px;
    height: 250px;
    z-index: 10;
}

.img-box img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;

}

.team-card:hover .img-box{
    transform:translate(-50px , -50px);
}

.person-title{
    width: 250px;
    height: 250px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 12px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
}