.team-card{
    background-color:#b4a4a4;
    /* padding: 5rem 5rem; */
    justify-content: center;
    align-items:center;
    width:fit-content;
    min-height: 15rem ;
    min-width: 15rem;
}

.team-card-box{
    display: flex;
}

.contacts{
    /* width: 500px; */
    margin-top: 20px;
    padding 2rem 1rem;
}

.contacts-list{
    list-style-type: none;
    padding:  0 20px;
}

.person-img{
    width: 15rem;
    border-radius: 15px;
}

.person-title{
    margin: 0 20px;
    align-text: center;
}

/* .break{
    
    flex-basis: 100%; 
    height: 0; 
      
} */