/* form{
    background-image: url("../assets/IMG_9052[1].JPG");
} */

.T-form{
    background-color: black;
    border: 1px solid white;
    width: 750px;
    height: auto;
    background-color: rgba(0, 0, 255, 0.075);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.T-field{
    height: 70px;
    width: 300px;
}

.T-input{
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding-left: 5px;
    padding-bottom: 0;
    height: 50px;
    transition: all 0.2s ease-out;
}

.input-label{
    position: relative;
    bottom: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: text;
    transition: all 0.2s ease-out;
}

.T-input:focus + label{
    transform: translateY(-30px);
    font-size: 0.80em;
    color: #f76c6c;
    font-weight: 500;
    letter-spacing: 2px;
}

.T-input:focus{
    border-bottom: 3px solid #f76c6c;
}

.pay{
    width: 300px !important;
    /* height: 60px; */
    padding: 10px 0;
}

.poster img{
    height: 350px;
    border-radius: 5px;
    /* border: 1px solid white; */
    width: 250px;
}