.timeline-box{
  margin: 100px;
}

.vertical-timeline-element-content {
  /* box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important; */
  padding: 2em 3em !important;
  background-color: #969191 ;
  box-shadow: 2px 2px 20px #9debe5;
}

.date {
  color: white;
  font-size: 5rem;
  
}

.vertical-timeline-element-icon{
  background-color: #de5426;
}
